<ecommerce-toolbar></ecommerce-toolbar>
<mat-card>
  <h2>
    <button mat-raised-button color="primary">
      app-focus-monitor-directive
    </button>
    <mat-divider></mat-divider>
  </h2>
  <mat-card>
    <app-focus-monitor-directives></app-focus-monitor-directives>
  </mat-card>
</mat-card>
<mat-divider></mat-divider>
<br />
<mat-card>
  <h2>
    <button mat-raised-button color="primary">app-breakpoint-observer</button>
    <mat-divider></mat-divider>
  </h2>
  <mat-card>
    <app-breakpoint-observer></app-breakpoint-observer>
  </mat-card>
</mat-card>
<mat-divider></mat-divider>
<br />
<mat-card>
  <h2>
    <button mat-raised-button color="primary">app-cdk-overlay</button>
    <mat-divider></mat-divider>
  </h2>
  <mat-card>
    <app-cdk-overlay></app-cdk-overlay>
  </mat-card>
</mat-card>
<mat-divider></mat-divider>
<br />
<mat-card>
  <h2>
    <button mat-raised-button color="primary">app-cdk-platform</button>
    <mat-divider></mat-divider>
  </h2>
  <mat-card>
    <app-cdk-platform></app-cdk-platform>
  </mat-card>
</mat-card>
<mat-divider></mat-divider>
<br />
<mat-card>
  <h2>
    <button mat-raised-button color="primary">app-cdk-portal</button>
    <mat-divider></mat-divider>
  </h2>
  <mat-card>
    <app-cdk-portal></app-cdk-portal>
  </mat-card>
</mat-card>
<mat-divider></mat-divider>
