<ecommerce-toolbar></ecommerce-toolbar>
<mat-card>
  <h2>
    <button mat-raised-button color="primary" [routerLink]="['/']">
      Products
    </button>
    /
    <button mat-raised-button color="primary">Product Details</button>
  </h2>
  <mat-divider></mat-divider>
  <mat-card class="root-card">
    <div *ngIf="product">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>
          {{ product.name }}
        </mat-card-title>
        <mat-card-subtitle>{{ product.price | currency }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-title-group>
        <mat-card-title>
          <mat-card-content>
            <p *ngIf="product.description">
              Description: {{ product.description }}
            </p>
          </mat-card-content>
        </mat-card-title>
        <img
          mat-card-sm-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
        />
      </mat-card-title-group>
      <mat-divider inset></mat-divider>
      <mat-card-actions>
        <div *ngIf="product">
          <button
            mat-raised-button
            color="primary"
            (click)="addToCart(product)"
          >
            Buy
          </button>
        </div>
      </mat-card-actions>
      <mat-card-footer>
        <mat-progress-bar mode="determinate"></mat-progress-bar>
      </mat-card-footer>
    </div>
  </mat-card>
</mat-card>
